/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: #212121;
  font-family: 'Roboto', 'Arial', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  scroll-behavior: smooth;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  font-weight: 100;
}

.red {
  color: red;
}

.enterBtn {
  background: none;
  z-index: 9;
  color: white;
  font-size: 1rem;
  position: absolute;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: bold;
  border-color: red;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  margin-top: 10rem;
}

.enterBtn:hover {
  background-color: transparent;
  text-shadow: none;
}

.enterBtn:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.enterBtn:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  background: red;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.enterSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  background-image: url(../img/enterBg.png);
  background-size: cover;
}

.enterDesc {
  text-align: center;
  width: 30rem;
  color: white;
  line-height: 1.4rem;
  font-weight: 100;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
  color: white;
  font-size: 1rem;
}

.enterTitle {
  margin-top: -5rem;
  text-align: center;
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
}

.enterTitle2 {
  font-size: 1.6rem;
  color: white;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.audio {
  background-image: url(../img/audio.png);
  width: 5rem;
  height: 5rem;
}

@media only screen and (max-width: 650px) {
  .enterTitle {
    font-size: 2rem;
  }

  .enterDesc {
    font-size: 0.8rem;
    line-height: 1rem;
    width: 70vw;
  }
}

@media only screen and (max-width: 550px) {
  .enterTitle {
    font-size: 1.2rem;
    margin-top: -2rem;
  }

  .enterTitle2 {
    font-size: 0.8rem;
  }

  .enterDesc {
    font-size: 0.7 rem;
    line-height: 1rem;
    width: 70vw;
  }
}
