@font-face {
    font-family: 'Baskerville URW Wide';
    src: url('../../assets/fonts/Baskerville/BaskervilleURWWid-Med.woff2') format('woff2'),
        url('../../assets/fonts/Baskerville/BaskervilleURWWid-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.artPiece {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30rem;
  height: 30rem;
  margin: 1rem 5rem;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  align-items: center;
  transition: all 0.2s ease-in;
}
.artPiece:hover {
  cursor: pointer;
  transition: all 0.2s ease-in;
  box-shadow: 0 0.2rem 3rem red;
}
.artPiece:hover ~ .artTitle  {
  color: red;
}


.artSelector {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap; /* [1] */
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */
}

.art1 {
  background-image: url(../../assets/img/art1.jpg);
}

.art2 {
  background-image: url(../../assets/img/art2.jpg);
}

.art3 {
  background-image: url(../../assets/img/art3.png);
}

.art4 {
  background-image: url(../../assets/img/art4.png);
}

.totalStories {
  margin-top: 1rem;
}

.artSelector::-webkit-scrollbar {
  display: none;
}

.arspotTitle {
  position: absolute;
  top: 0;
  margin-top: 10vh;
  text-transform: uppercase;
}

.artPiece:hover {
  cursor: pointer;
}

.artSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.closeBtn {
  z-index: 100;
  position: absolute;
  border: solid white 0.2rem white;
  padding: 1rem;
  cursor: pointer;
  background: none;
  font-size: 2rem;
  color: white;
  left: 0;
  top: 0;
  margin-top: 1rem;
  margin-left: 33.5rem;
}

.closeBtn:focus {
  outline: none;
}

.artTitle {
  color: white;
  text-transform: uppercase;
  margin-left: 5rem;
  font-weight: 600;
}

.artMaker {
  padding-top: 0.52rem;
  color: white;
  font-weight: 100;
  margin-left: 5rem;
}

.hotspot {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  z-index: 99;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    transition: box-shadow 0.3s;
    animation: pulse-aninmation 5s ease-in-out infinite both;
  }

  &:after {
    animation-delay: 2.5s;
  }

  &:hover {
    &:before,
    &:after {
      background-color: red;
      opacity: 0.6;
      transition: all .5s ease;
    }
  }
}

.hs1 {
  margin-top: 20rem;
  margin-left: -10rem;
}

@keyframes pulse-aninmation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(6);
  }
  100% {
    transform: scale(1);
  }
}

.detailSection {
  position: absolute;
  top: 0;
  right: 0;
  width: 35rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0.3rem 1rem black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  z-index: 100001;
}

.videoTooltip {
  width: 100%;
  height: 30%;
  margin-top: 2rem;
}

.otherTp {
  width: 100%;
  height: 6rem;
  background-image: url(../../assets/img/TP1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  margin-top: 1rem;
}

.otherTouchpoints {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.descVideo {
  margin-top: 7rem;
  width: 100%;
  color: white;
  height: 15%;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

.artSpots {
  margin-top: 8rem;
  width: 40rem;
  margin-left: -30rem;
}

.otherTitle {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}

.themePicker {
  color: white;
  position: absolute;
  margin-top: 3rem;
  font-size: 2rem;
  top: 0;
  text-transform: uppercase;
  margin-top: 3rem;
  cursor: pointer;
  transition: all .5s ease;
}

.themePicker:hover {
  background-color: red;
  padding: 1rem;
  transition: all .5s ease;
}

.themeSection {
  color: white;
  display: flex;
  align-items: center;
  z-index: 99;
  background: black;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  justify-content: space-around;
  text-align: center;
  background-image: url(../../assets/img/enterBg.png);
  background-size: cover;
}
.spotLight {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/img/spotlight.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
  top:0;
  left: 0;
}

.themeWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.theme {
  font-size: 2rem;
  text-transform: uppercase;
  color: black;
  height: 99.6vh;
  width: 33.3vw;
  position: relative;
  transition: all 0.2s ease-in;
  background-size: cover;
  background-position: center center;
  border: .1rem solid #ffeace;
}

.theme:hover {
  cursor: pointer;
  width: 55vw;
  transition: all 0.2s ease-in;
  filter: brightness(150%);
}

.theme:hover .playBtn {
  transition: all 0.1s ease-in;
  visibility: visible;
}

.theme:hover .ontdekBg {
  transition: all 0.1s ease-in;
  visibility: visible;
  border-left: 7rem solid transparent;
  border-right: 7rem solid transparent;
  border-bottom: 7rem solid #61503c;
}

.themeName {
  font-family: 'Baskerville URW Wide';
  color: #ffeace;
  font-size: 1.5rem;
}

.themeDescr {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10rem;
  width: 100%;
}

.themeWorks {
  font-family: 'Baskerville URW Wide';
  color: #c8b7a1;
  font-size: 1.25rem;
  padding-top: 1rem;
}

.scrollBtns {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  width: 15rem;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.slideLeft {
  height: 3rem;
}

.slide {
  height: 3rem;
}

.link {
  text-decoration: none;
}

.videoTitle {
  margin-top: -0.5rem;
  text-transform: uppercase;
  z-index: 13;
}
.playBtn {
  width: 7rem;
  height: 7rem;
  background-image: url('../../assets/img/playBtn.png');
  background-size: cover;
  z-index: 200;
  visibility: hidden;
  transition: all 0.1s ease-in;
}
.playBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.themeHeader {
  position: absolute;
  margin-top: 2rem;
  font-size: 2rem;
  top: 0;
  z-index: 200;
  text-shadow: .1rem .1rem .5rem black;
  position: absolute;
  margin-right: 1rem;
  text-align: right;
  top: 0;
  right: 0;
}
.themeTitle {
  text-transform: uppercase;
  font-family: 'Baskerville URW Wide';
  color: #ffeace;
}

.themeIntro {
  font-size: 1rem;
  font-family: 'Baskerville URW Wide';
  color: #c8b7a1;
}

.theme1 {
  background-image: url(../../assets/img/thema21.jpg);
}

.theme2 {
  background-image: url(../../assets/img/thema11.jpg);
}

.theme3 {
  background-image: url(../../assets/img/thema31.jpg);
}

.skipThema {
  position: absolute;
  z-index: 110;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  background: none;
  padding: 1.5rem;
  border: solid .1rem white;
  border-color: #ffeace;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  bottom: 0;
  right: 0;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

.skipThema:hover {
  background-color: transparent;
  text-shadow: none;
  color: #61503c;
}

.skipThema:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}
.ontdek {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffeace;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
  transition: all .2s ease;
}
.ontdekBg {
  z-index: 300;
  position: relative;
  left: 0;
  bottom: 0;
  border-left: 0rem solid transparent;
  border-right: 0rem solid transparent;
  border-bottom: 0rem solid #61503c;
  font-size: .8rem;
  visibility: hidden;
}
.ontdektext {
  position:absolute;
  top: 5rem;
  left: -3rem;
  text-align: center;
}
.skipThema:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: -1;
  content: '';
  background: #ffeace;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.themaTitle {
  color: #ffeace;
  font-size: 1.7rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin-top: 3rem;
  text-align: center;
  z-index: 200;
}
.subTitles {
  position: absolute;
  width: 100vw;
  z-index: 200;
  text-align: center;
  bottom: 0;
  left: 0;
  color: #ffeace;
  height: 11rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}
.subTitle {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  display:inline-block;
  padding:1rem;
  line-height: 2rem;
}
.subTitleWrapper {
  width: 60vw;
}
@media only screen and (max-width: 1300px) {
  .subTitleWrapper {
    width: 50vw;
  }
  .subTitle {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .subTitleWrapper {
    width: 80vw;
  }
  .subTitle {
    font-size: 1rem;
  }
  .subTitles {
    height: 25rem;
  }

}

@media only screen and (max-width: 830px) {

  .themeSection {
    flex-direction: column;
    justify-content: center;
  }

  .themeName {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0.3rem;
  }

  .themeTitle {
    font-size: 1.5rem;
    text-align: right;
  }

  .themeIntro {
    padding-top: 0.3rem;
  }

  .themeName {
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  .themePicker {
    width: 100vw;
    background-color: black;
    height: 3rem;
    margin-left: 0;
    margin-top: 5rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .themaTitle {
    font-size: 1em;
    margin-top: 1.6rem;
    top: 0;
    left: 0;
    margin-left: -2rem;
    text-align: right;
  }
  .artPiece {
    width: 80vw;
    height: 50vh;
    margin-left: 2rem;
  }

  .artSelector {
    margin-top: 5rem;
  }

  .scrollBtns {
    margin-bottom: 0;
    width: 80vw;
  }

  .slideLeft {
    width: 2rem;
  }

  .slide {
    width: 2rem;
  }

  .artTitle {
    margin-left: 2rem;
  }

  .artMaker {
    margin-left: 2rem;
  }

  .closeBtn {
    height: 4rem;
    position: absolute;
    width: 100vw;
    border-radius: 0;
    margin-top: 8rem;
    margin-left: 0;
  }

  .detailSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0.3rem 1rem black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }

  .descVideo {
    font-size: 0.8rem;
    margin-top: 6rem;
    line-height: 1rem;
    width: 90vw;
  }

  .videoTitle  {
    z-index: 103;
    top: 0;
    right: 0;
    position: absolute;
    margin-top: 1.5rem;
    margin-right: 1rem;
  }

  .otherTitle {
    padding-top: 3rem;
  }

  .otherTp {
    width: 100vw;
    height: 4.5rem;
    background-image: url(../../assets/img/TP1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    margin-top: 1rem;
  }

  .theme {
    width: 80vw;
    height: 6rem;
  }

  .themeTitle {
    font-size: 1.5rem;
  }

  .themeIntro {
    font-size: 0.7rem;
    padding-top: 0.3rem;
  }
  .subTitle {
    font-size: .8rem;
    line-height: 1.1rem;
  }
  .subTitleWrapper {
    width: 90vw;
  }
  .artSpotTitle {
    margin-top: -3rem;
  }
  .closeBtn {
    font-size: 1.3rem;
  }
  .arspotTitle {
    margin-top: .5rem;
    margin-right: .8rem;
    right: 0;
  }
}
