@font-face {
  font-family: 'Baskerville URW Wide';
  src: url('../../assets/fonts/Baskerville/BaskervilleURWWid-Med.woff2')
      format('woff2'),
    url('../../assets/fonts/Baskerville/BaskervilleURWWid-Med.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
}
.logo {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  z-index: 101;
}

.info {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  top: 0;
  font-size: 1.2rem;
  color: white;
  text-align: right;
  z-index: -2;
}
.subTitles {
  position: absolute;
  width: 100vw;
  z-index: 200;
  text-align: center;
  bottom: 0;
  left: 0;
  color: #ffeace;
  height: 11rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}
.subTitle {
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 1rem;
  line-height: 1.5rem;
}
.subTitleWrapper {
  width: 60vw;
}

.videoCanvas {
  width: 100%;
  height: 100%;
  z-index: 11;
}

.player {
  height: 17.7rem;
  position: relative;
  background-color: black;
  transition: all 0.2s ease;
}
.fullscreenPlayer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: all 0.2s ease;
}
.player__controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: height 0.3s;
  cursor: pointer;
  flex-basis: 100%;
  pointer-events: all;
}

.progress__filled {
  width: 50%;
  background-color: #bf9e78;
  height: 0.6rem;
  flex: 0;
  flex-basis: 0%;
}

.player__button {
  position: absolute;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20rem;
  font-size: 1rem;
  padding: 2rem;
  outline: none;
  color: #bf9e78;
  border: none;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.ontdek {
  position: absolute;
  color: white;
  font-size: 1.2rem;
  bottom: 0;
  text-align: center;
  width: 100vw;
  padding-bottom: 2rem;
  z-index: 101;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.shadow {
  box-shadow: 0 0 500px 5px black inset;
  background-color: rgba(0, 0, 0, .1);
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 12;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.player__slider {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='range'] {
  display: block;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 10rem;
  height: 0.2rem;
  border-radius: 5px;
  outline: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #bf9e78;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

​ input[type='range']::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #e74c3c;
}

input[type='range']::-webkit-slider-thumb:active {
  transform: scale(1.4);
}

.closeSelector {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  padding: 2rem;
}

.artWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artPiece {
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1rem;
  height: 50%;
  color: white;
  text-align: left;
}

.audio {
  background-image: url(../../assets/img/audio.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
  z-index: 300;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 2rem;
  margin-left: 2rem;
  cursor: pointer;
}
.languages {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 8rem;
  margin-top: 2rem;
  z-index: 300;
}
.translationList {
  color: white;
  display: flex;
  width: 10vw;
  justify-content: space-around;
  margin-bottom: 2rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.translationItem:hover {
  color: red;
  cursor: pointer;
}

.themaPlayer  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  background-color: black;
}

.themaCanvas {
  height: 100vh;
  width: 100vw;
}

.themaPlayer__controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  pointer-events: none;
}

.languagepicker {
  color: white;
  display: inline-block;
  padding: 0;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 0 50px 10px 0;
  vertical-align: top;
  float: left;
  font-family: 'Baskerville URW Wide';
  border: 0.1rem solid white;
  border-radius: 0.5rem;
}

.languagepicker:hover {
  /* don't forget the 1px border */
  height: 17rem;
  background: white;
}

.languagepicker a {
  color: #000;
  text-decoration: none;
}

.languagepicker li {
  display: block;
  padding: 0px 20px;
  line-height: 45px;
  border-top: 0.1rem solid #eee;
}

.languagepicker li:hover {
  background-color: #ffeace;
}

.languagepicker a:first-child li {
  border: none;
  color: white;
}

.languagepicker:hover a:first-child li {
  border: none;
  color: black;
}

.languagepicker li img {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1400px) {
  .subTitleWrapper {
    width: 45vw;
  }
  .subTitle {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1300px) {
  .subTitleWrapper {
    width: 50vw;
  }
  .subTitle {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1150px) {
  .subTitleWrapper {
    width: 45vw;
  }
  .subTitle {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1000px) {
  .subTitleWrapper {
    width: 80vw;
  }
  .subTitle {
    font-size: 1rem;
  }
  .subTitles {
    height: 25rem;
  }
}

@media only screen and (max-width: 630px) {
  .info {
    font-size: 0.9rem;
  }
  .audio {
    display: none;
  }
  .msk {
    width: 2.8rem;
    height: 2.5rem;
  }
  .languages {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1rem;
  }
  .languagepicker li {
    font-size: 0.8rem;
  }
  .subTitle {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }
  .subTitleWrapper {
    width: 90vw;
  }
}
